.App {
  text-align: center;
  background-image: linear-gradient(#E9E9E9,
  #F6F6F6)
}

amplify-authenticator {
  --background-color: blue;
}
:root {
  --amplify-primary-color: #377b0b;
  --amplify-primary-tint: #3f6060;
  --amplify-primary-shade: #377b0b;
  --amplify-background-color: rgb(194, 187, 187);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress-custom {
  height: 100px; /* needs to be an absolute measurement unless one of it's parent has an absolute height */
}
div{
  text-align: left;
}
.Font{
  font-family: 'Pattaya', sans-serif;
}
